version: "3"
services:
  hoard:
    image: quay.io/monax/hoard:1.1.3
  postgres:
    image: postgres:9-alpine
    environment:
      POSTGRES_USER: blackstone_development
      POSTGRES_PASSWORD: blackstone_development
      POSTGRES_DB: blackstone_development
  chain:
    image: quay.io/monax/build:latest
    environment:
      CI_PROJECT_DIR: /app
      HOARD_IP: hoard:53431
      NODE_ENV: testing
      MONAX_ECOSYSTEM: MONAX_PLATFORM
    volumes:
    - .:/app
    ports:
    - "3080:3080"
    - "9222:9222"
    working_dir: /app
    depends_on:
    - postgres
    - hoard
    links:
    - hoard
    - postgres
    command: "test/test_api.sh --runAPI"
