version: "3"
services:
  hoard:
    image: quay.io/monax/hoard:1.1.3
  postgres:
    image: postgres:9-alpine
    environment:
      POSTGRES_USER: blackstone_development
      POSTGRES_PASSWORD: blackstone_development
      POSTGRES_DB: blackstone_development
  vent:
    image: quay.io/monax/vent:develop
    restart: always
    command:
    - --db-adapter
    - postgres
    - --db-url
    - postgres://blackstone_development:blackstone_development@postgres:5432/blackstone_development?sslmode=disable
    - --db-schema
    - blackstone_development
    - --grpc-addr
    - chain:10997
    - --log-level
    - debug
    - --spec-file
    - /config/EventSpec.json.test
    volumes:
    - ./api/sqlsol:/config
    depends_on:
    - postgres
    - chain
    links:
    - postgres
    - chain
  chain:
    image: quay.io/monax/build:latest
    environment:
      CI_PROJECT_DIR: /app
      HOARD_IP: hoard:53431
      NODE_ENV: testing
      MONAX_ECOSYSTEM: MONAX_PLATFORM
    volumes:
    - .:/app
    ports:
    - "3080:3080"
    expose:
    - "10997"
    working_dir: /app
    depends_on:
    - postgres
    - hoard
    links:
    - postgres
    - hoard
    command: "test/test_api.sh --runAPI"
