version: "3.4"
services:
  hoard:
    image: quay.io/monax/hoard:3.0.0
    ports:
      - "53431:53431"
    command:
    - /bin/sh
    - -c
    - "hoard config memory -s hoard-api-secret-1:secret_pass | hoard -c-"
  postgres:
    image: postgres:9-alpine
    ports:
    - "5432:5432"
    environment:
      POSTGRES_USER: blackstone_development
      POSTGRES_PASSWORD: blackstone_development
      POSTGRES_DB: blackstone_development
  chain:
    # We could reference hyperledger/burrow:$version directly here but for the sake of only specifying our dependency version
    # once we do it in the project Dockerfile
    build: .
    ports:
    # GRPC port for most interaction
    - "10997:10997"
    # HTTP status/information port
    - "26658:26658"
    working_dir: /app/test/chain
    command:
    - burrow
    - start
  vent:
    build: .
    restart: always
    command:
    - burrow
    - vent
    - start
    - --db-adapter
    - postgres
    - --db-url
    - postgres://blackstone_development:blackstone_development@postgres:5432/blackstone_development?sslmode=disable
    - --db-schema
    - data
    - --grpc-addr
    - chain:10997
    - --log-level
    - info
    - --spec
    - /app/api/sqlsol
    - --abi
    - /app/contracts/src/bin
    volumes:
      - .:/app
    depends_on:
    - postgres
    - chain
  api:
    build: .
    env_file:
      - dev.env
    ports:
    - "3080:3080"
    - "9222:9222"
    working_dir: /app
    # We don't have a nice way of mixing working within container and locally without mounting project directory.
    # The lack of easy compiling of solc 0.4.25 for mac is our current issue - totally resolvable but we may just prefer
    # to upgrade
    volumes:
      - .:/app
    depends_on:
    - postgres
    - hoard
    - vent
    - chain
    command: "npm --prefix api run-script start:dev"
